button{
    display: block;
    align-self: center;
    margin-top: 40px;
    padding: 10px 10px;
    margin-left: 150px;
}
#col{
    display: flex;
    text-align: center;
    /* background-color: cadetblue; */
}
#wrapper {
    text-align: center;
}
.col{
    width: 400px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: cadetblue;
}
input {
    padding-top: 10px;
    margin-top: 20px;
}
#merge-btn{
    display:  inline-block;
    margin-top: 30px;
    background-color: cadetblue;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    align-items: center;
}
